body {
  background-image: url(../images/boat.jpg);
  background-size: cover;
}

div.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr ;
  grid-template-rows: 10% 90%;
}
div.tic-tac-toe {
  grid-column:2;
  grid-row: 2;
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  /* border: 5px solid #4F331A; */

}
div.one {
  grid-column: 1;
  grid-row: 1;
  /* border-right: 5px solid #4F331A;
  border-bottom: 10px solid #4F331A; */
  height: 150px;
  box-shadow: 10px 10px 50px black;

}

div.two {
  grid-column: 2;
  grid-row: 1;
  /* border-left: 5px solid #4F331A;
  border-right: 5px solid #4F331A;
  border-bottom: 10px solid #4F331A; */
  height: 150px;
  box-shadow: 10px 10px 50px black;

}

div.four {
  grid-column: 1;
  grid-row: 2;
  /* border-right: 5px solid #4F331A;
  border-top: 5px solid #4F331A;
  border-bottom: 5px solid #4F331A; */
  height:150px;
  box-shadow: 10px 10px 50px black;

}
div.five {
  grid-column: 2;
  /* grid-row: 2;
  border-left: 5px solid #4F331A;
  border-right: 5px solid #4F331A;
  border-top: 5px solid #4F331A;
  border-bottom: 5px solid #4F331A; */
  height:150px;
  box-shadow: 10px 10px 50px black;

}
div.three {
  grid-column: 3;
  grid-row: 1;
  /* border-left: 5px solid #4F331A;
  border-bottom: 10px solid #4F331A; */
  height:150px;
  box-shadow: 10px 10px 50px black;

}
div.six {
  grid-column: 3;
  grid-row: 2;
  /* border-top: 5px solid #4F331A;
  border-left: 5px solid #4F331A;
  border-bottom: 5px solid #4F331A; */
  height:150px;
  box-shadow: 10px 10px 50px black;

}
div.seven {
  grid-column: 1;
  grid-row: 3;
  /* border-top: 9px solid #4F331A;
  border-right: 5px solid #4F331A; */
  height:150px;
  box-shadow: 10px 10px 50px black;

}
div.eight {
  grid-column: 2;
  grid-row: 3;
  /* border-top: 9px solid #4F331A;
  border-left: 5px solid #4F331A;
  border-right: 5px solid #4F331A; */
  height:150px;
  box-shadow: 10px 10px 50px black;

}
div.nine {
  grid-column: 3;
  grid-row: 3;
  /* border-top: 9px solid #4F331A;
  border-left: 5px solid #4F331A; */
  height:150px;
  box-shadow: 10px 10px 50px black;

}

div.icons {
  grid-column:3;
  grid-row: 2;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  padding-top: 50px;
}
img.icon {
  height: 50px;
  display: block;
  margin: 0 auto;
  padding: 5px;
}


.circ {
  cursor: url(../images/circle.png),auto;
}

.x {
  cursor: url(../images/cross.png),auto;
}

.circ.opponent {
  cursor: url(../images/cross.png),auto;
}

.x.opponent {
  cursor: url(../images/circle.png),auto;
}

.app {
  cursor: url(../images/apple.png),auto;

}

.window {
  cursor: url(../images/window.png),auto;
}

.window.opponent {
  cursor: url(../images/apple.png),auto;
}
.app.opponent{
  cursor: url(../images/window.png),auto;

}

.horse{
  cursor: url(../images/knight.png),auto;
}
.piece {
  cursor: url(../images/rook.png),auto;
}

.piece.opponent {
  cursor: url(../images/knight.png),auto;
}
.horse.opponent {
  cursor: url(../images/rook.png),auto;
}

.one img {
  align-self: center;
}


.tic-tac-toe img {
  margin: 50px;
  display:block;
}


/* button css */

.buttons {
  grid-row: 1;
  grid-column: 3;
  grid-template-columns: 1fr 1fr;
}

#choose {
  font-size: 24px;
  background-color: #CF9D16;
  height: 100px;
  box-shadow: 0 0 15px #CF9D16;
  grid-column: 1;
  width: 48%;
}
#choose2 {
  font-size: 24px;
  background-color: #CF8B74;
  height: 100px;
  box-shadow: 0 0 15px #CF8B74;
  grid-column: 2;
  width: 49%;
}

.yellow {
  background-color: #CF9D16;
  opacity: 0.8;

}
.pink {
  background-color: #CF8B74;
  opacity: 0.8;

}

#choose img {
  display: inline-block;
  height: 50px

}

.middle {
  grid-column: 2;
  grid-row: 1;
  display: inline-block;
}

#arrow {
  display: inline-block;
  height: 100px;
  width: 50%;
  float: right;

}
